# LLM_PROVIDER=openai
LLM_PROVIDER=mock                #切换真实LLM或者mock, openai为真实LLM, mock为模拟LLM
OPENAI_API_KEY=your-api-key-here # apikey
OPENAI_BASE_URL=xxxxxxxx.        # base_url，兼容三方，例如： https://api.openai.com/v1
OPENAI_MODEL=DeepSeek-V4-Flash   # 模型名称
